h1{
    color: blue;
    text-align: center;
}
h2{
    color: cornflowerblue;
    text-align: center;
    top: left;
}
body{
    background-image: url(../images/bg.jpg )
    
}
.site{
    max-width: 300px;
    margin:auto;
    float:none;

}
header{
    width: 100%;
    display: block;
}
header ,ul {
    display: flexbox;
    justify-content: flex-end;
    align-items: center;
}
header, ul, a{
     padding: 10px;
     text-decoration: none;
     color:red;

}